In [1]:
import scipy
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data_CO2=pd.read_csv("Figure panel 1_CO2 data.csv", skiprows=0) #using data frames to read csv file
data_CO2

   H2: CO2  Mole fraction CO2
0        2               0.35
1        3               0.24
2        4               0.18
3        5               0.17
4        6               0.13

In [5]:
data_CH3OH=pd.read_csv("Figure panel 2_CH3OH data.csv", skiprows=0) #using data frames to read csv file
data_CH3OH

   H2:CO2  Mole fraction CH3OH
0       2               0.0080
1       3               0.0095
2       4               0.0098
3       5               0.0102
4       6               0.0102

In [6]:
data_CO=pd.read_csv("Figure panel 2_CO data.csv", skiprows=0) #using data frames to read csv file
data_CO

   H2:CO2  Mole fraction CO
0       2           0.00412
1       3           0.00480
2       4           0.00480
3       5           0.00478
4       6           0.00470

In [8]:
data_CH4=pd.read_csv("Figure panel 3_CH4.csv", skiprows=0) #using data frames to read csv file
data_CH4

   H2:CO2  Mole fraction CH4
0       2           0.000071
1       3           0.000090
2       4           0.000100
3       5           0.000111
4       6           0.000121

In [ ]:
T = 300 + 273.16 #K
P = 40 * 10**5 #Pa
WHSV = 9000 # mL/gcat/h
R = 8.314 #
#H2_CO2 = 3

PCO2 = 
PH2 = 
PCO = 
PH2O = 
PCH3OH =
PH2O =

KCO2 = 
KH2 =
Keq_MeOH = 
Keq_RWGS = 
Keq_CH4 =

k1 =
k2 =
k3 =

In [ ]:
Inhibition_term = (1 + KCO2 * PCO2 + np.sqrt(KH2 * PH2))**2

r_MeOH = (k1/PH2**2 * (PCO2 * PH2**3 - PCH3OH * PH2O / Keq_MeOH))/Inhibition_term

r_RWGS = (k2/np.sqrt(PH2) * (PCO2 * PH2 - PCO * PH2O / Keq_RWGS))/Inhibition_term

r_CH4 = (k3 * np.sqrt(PCO2) * np.sqrt(PH2)) * (1 - (PCH4 * PH2O**2 / PCO2 * PH2**4 * Keq_CH4))/Inhibition_term